{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

<section class="hero__section">
    <img alt="hero image" src="/static/heroimage.svg">
    <div class="hero__text__section">
        <h1>Welcome to Alchemy API</h1>
        <p><span class="text__brand_purple">Explore</span> the Periodic Table with <span class="text__brand_purple"> Alchemy API</span></p>
        <a href="/api" class="calltoaction__button">Try it Now <i class="fa-solid fa-square-up-right"></i></a>
    </div>
</section>

<section class="explore__section">
    <h2>Explore Alchemy's Elemental Insights</h2>
    <p>Experience <span class="text__brand_purple">Alchemy API</span>'s power with our interectave app. Dive into the periodic table's secrets firsthand.</p>
    <a href="/applications" class="calltoaction__button">Example of apps<i class="fa-solid fa-square-up-right"></i></a>
</section>

<section class="featueres__section" id="features">
    <h2>Why should you use <span class="text__brand_purple">Alchemy API</span>?</h2>
    <div class="features__card">
        <h3 class="features__card__title">It's <span class="text__main__green">Free</span> To Use</h3>
        <img class="features__card__image" src="/static/chemistry1.svg" alt="2 molecules">
        <p class="features__card__description">Alchemy API offers free accwss to comprehensive data on every element in the periodic table.</p>
    </div>
    <div class="features__card">
        <h3 class="features__card__title"><span class="text__main__orange">Easy</span> To Use</h3>
        <img class="features__card__image" src="/static/construction.svg" alt="2 molecules">
        <p class="features__card__description">Simplify your exloration of the elements with Alchemy. It's designed to be user-friendly. makinh it accessible for developers of all skill levels.</p>
    </div>
    <div class="features__card">
        <h3 class="features__card__title"><span class="text__main__red">Everything</span> You Need</h3>
        <img class="features__card__image" src="/static/electroplating.svg" alt="2 molecules">
        <p class="features__card__description"></p>
    </div>
</section>

<div class="calltoaction__section">
    <h2>Ready to get <span class="text__brand_purple">started</span>?</h2>
    <a href="/api" class="calltoaction__button">Try it Now <i class="fa-solid fa-square-up-right"></i></a>
</div>
{% endblock %}